
@{
    Layout = null;
}


<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tourist'O Admin</title>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Art Sign Up Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates,
		Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
    <!-- /meta tags -->
    <!-- custom style sheet -->
    <link href="~/Context/css/style.css" rel="stylesheet" />
    <!-- /custom style sheet -->
    <!-- fontawesome css -->
    <link href="~/Context/css/fontawesome-all.css" rel="stylesheet" />
    <link href="css/fontawesome-all.css" rel="stylesheet" />
    <!-- /fontawesome css -->
    <!-- google fonts-->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- /google fonts-->

</head>


<body>

    <h1 class="navbar-brand text-white font-weight-bold font-italic" style="font-family:'Montez',cursive; color:#fc3955">Tourist<span style="color:black">'</span>O</h1>

    <div class=" w3l-login-form">
           
        <button type="button" onclick='"viewmembers.html"'><i class="fa fa-user-md">&nbsp;</i>View Members</button>
        <p><br /></p> 
        <button type="button" onclick="location.href='@Url.Action("Index","Events")'"><i class="fa fa-calendar">&nbsp;</i>View Events</button>
        <p><br /></p> 
        <button type="button" onclick="location.href='@Url.Action("Index","MyEvents")'"><i class="fa fa-calendar-check">&nbsp;</i>View User Events</button>
       <p><br /></p> 
        <button type="button" onclick="location.href='@Url.Action("Index","Messages")'"><i class="fa fa-envelope">&nbsp;</i>View Messages</button>
        <p><br /></p> 
        <button type="button" onclick="location.href='@Url.Action("Index","Friends")'"><i class="fa fa-user-plus">&nbsp;</i>View Friends</button>
        <p> <br/> </p>
        
        <div>
            @Html.ActionLink("Back", "AdministratorLogin")
        </div>
    </div>
    <footer>
        <p class="copyright-agileinfo"> &copy; 2018 Tourist'O Login. All Rights Reserved</p>
    </footer>

</body>

</html>